
.account {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content:center;
  align-items: center;
  background: var(--background-color);
  font-size: 12px;
  
}
.link{
  text-decoration: none;
  color: var( --icon-fill);
  font-size: 1rem;
}
.link:hover{
  color: var( --icon-fill-hover);
}
.account > span:last-child {
  cursor: pointer;
}
