.button{
    flex-basis:48%;
    background:green;
    color:white;
    height:40px;
    border-radius:20px ;
    border:0;
    outline:0;
    cursor:pointer;
    transition:background 1s;
}

.link{
     text-decoration:none;
     color:white;
}